mixin  generateListBLock(listType, items)
  if listType == 'unordered'
    ul
      each item in  JSON.parse(items)
        li !{item}
  else
    ol  
      each item in  JSON.parse(items)
        li !{item}

mixin generateImageBlock(url, caption)
  figure
    img(src= url)
    if caption
    figcaption= caption

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/header.css')
    link(rel='stylesheet' href='/css/blogPage.css')
    if !isSignedIn 
      link(rel="stylesheet", href="/css/signIn.css")
      script(src="/js/signIn.js")
    script(src="/js/header.js")
    script(src="/js/blogPage.js")
    title Express | Blog
  body
    include includes/header.pug
    if !isSignedIn 
      include includes/signInPrompt.pug
    .blog
      #blogTitle(storyid=storyID)= title
      .blog-meta
        div
          .author-icon
            img(src=authorAvatar class="icon-image")
          .blog-info
            .author-name
              a(href="/profile/"+authorID)= authorName
            - const [,month,date,year] = new Date(lastModified).toString().split(' ');
            .blog-date= `${month} ${date}, ${year}`
        button#shareSection
          #linkCopiedMsg link copied.
          img#shareBtn(src="/images/share_icon.svg", alt="share icon")
      .blog-content
        -const contentBlocks = content
        each block in contentBlocks
          if block.type == "image"
            +generateImageBlock(block.data.file.url, block.data.caption)
          if block.type == "paragraph"
            p.content-block !{block.data.text}
          if block.type == 'header'
            h2 !{block.data.text}
          if block.type == 'list'
            +generateListBLock(block.data.style, JSON.stringify(block.data.items))
          if block.type == 'delimiter'
            p.content-block(style="text-align:center") * * *
      
      .tags 
        each tag in tags
          .tag= tag
      .story-response
        -const clappedClass = isClapped ? "clapped": ""
        div(class= className)
          -const clapOnClickListener = isSignedIn ? "clapOnStory()" : "showSignInPopup()"
          img(src="/images/clap.png" class=['clap-image', 'not-clapped', clappedClass] onclick=clapOnClickListener)
          span#count= count  
          span claps
        #response(onclick="toggleComments()")
          img(src="/images/comment.png") 
          span #{comments} responses
      #comments.hidden
        .comment-header
          | responses
        #writeComment
          #rawComment(contenteditable onclick= isSignedIn  ? "" : "showSignInPopup()")
          #respond.inactive respond
        #commentList