mixin  generateListBLock(listType, items)
  if listType == 'unordered'
    ul
      each item in  JSON.parse(items)
        li !{item}
  else
    ol  
      each item in  JSON.parse(items)
        li !{item}

mixin generateImageBlock(url, caption)
  figure
    img(src= url)
    if caption
    figcaption= caption

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/blogPage.css')
    script(src="/js/blogPage.js")
    title Express | Blog
  body
    .header
      #editorHeader
        #logo
          svg(width='30' height='36' style='border: 1px solid; background-color: black;')
            text(y='32' x='1.5' style='\
            font-family: sans-serif;\
            font-size: 2.4em;\
            font-weight: 600;\
            fill: white;\
            ')
              | E
    .blog
      #blogTitle(storyid=storyID)= title
      .blog-meta
        div
          .author-icon
            img(src=avatar_url class="icon-image")
          .blog-info
            .author-name
              a(href="/profile/"+authorID)= authorName
            - const [,month,date,year] = new Date(lastModified).toString().split(' ');
            .blog-date= `${month} ${date}, ${year}`
        #shareSection
          #linkCopiedMsg.hidden link copied 
          img#shareBtn(src="/images/share_icon.svg", alt="share icon")
      .blog-content
        -const contentBlocks = content
        each block in contentBlocks
          if block.type == "image"
            +generateImageBlock(block.data.file.url, block.data.caption)
          if block.type == "paragraph"
            p.content-block !{block.data.text}
          if block.type == 'header'
            h2 !{block.data.text}
          if block.type == 'list'
            +generateListBLock(block.data.style, JSON.stringify(block.data.items))
          if block.type == 'delimiter'
            p.content-block(style="text-align:center") * * *
            