mixin storyCard(id, title, content, author, createdAt, imageUrl)
    div.card(id=id) 
      - className = imageUrl ? 'card-content' : '';
        div(class= className)
            div.title= title
            div.content
                p= content
            a.author(href="")= author
            - dateFormat = moment(createdAt, 'YYYY-MM-DD HH:mm:ss').format('MMM DD, YYYY')
            div.date= dateFormat
        if imageUrl
          .card-image
            img(src= imageUrl, alt="blogImage")

html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Express
    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/header.css")
    link(rel="stylesheet", href="./css/dashboard.css")
    script(src="./js/header.js")
    script(src="/js/dashBoard.js")
  body 
    include ./includes/header.pug
    div.card-container
      each value in recentStories
        - const sliceContent=value.content;
        - const paragraph = sliceContent.find(data=> data.type ==='paragraph')
        - const text = paragraph ? paragraph.data.text.slice(0, 150) + '...' : ''
        +storyCard(value.id, value.title, text, value.authorName, value.last_modified, value.cover_image)(onclick='visitBlog')