mixin  generateSubContent(content)
  - let miniContent = content.replace(/<\/?(b|i|a)>/g, '').replace(/<a.*>/g,'').slice(0,150) 
  - miniContent += miniContent.length < 150 ? '...' : ''
  p !{miniContent}



mixin storyCard(id, title, content, author, createdAt, imageUrl)
    div.card(id=id) 
      - className = imageUrl ? 'card-content' : '';
        div(class= className)
            div.title= title
            div.content
              +generateSubContent(content)
            a.author(href="")= author
            - const dateFormat = moment(createdAt, 'YYYY-MM-DD HH:mm:ss').utc('Asia/Kolkata').fromNow()
            .date 
              i Last modified #{dateFormat}
        if imageUrl
          .card-image
            img(src= imageUrl, alt="blogImage")

html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Express
    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/header.css")
    link(rel="stylesheet", href="./css/dashboard.css")
    script(src="./js/header.js")
    script(src="/js/dashBoard.js")
  body 
    include ./includes/header.pug
    div.card-container
      each value in recentStories
        - const paragraph = value.content.find(data=> data.type ==='paragraph')
        - const content = paragraph ? paragraph.data.text : ''
        +storyCard(value.id, value.title, content, value.authorName, value.last_modified, value.cover_image)(onclick='visitBlog')