mixin  generateSubContent(content)
  - let miniContent = content.replace(/<\/?(b|i|a)>/g, '').replace(/<a.*>/g,'').slice(0,150) 
  - miniContent += miniContent.length < 150 ? '...' : ''
  p !{miniContent}

mixin storyCard(id, title, content, authorInfo, createdAt, imageUrl)
  div.card(id=id) 
    .author-profile-div
      .author-profile-icon
        img.author-avatar(src= authorInfo.avatar_url)
      .author-info
        a(href="/profile/"+authorInfo.id)#author-name #{authorInfo.display_name}
        - const [,month,date,year] = new Date(createdAt).toString().split(' ');
        -timeStamp= `${month} ${date}, ${year}`
        .story-date #{timeStamp}
    if imageUrl    
      div#coverImage
        img(src= imageUrl, alt="coverImage")
    .story-title= title
    div.content
      +generateSubContent(content)

mixin stories(list,authorInfo)
  each story in list
    - const paragraph = story.content.find(data=> data.type ==='paragraph')
    - const content = paragraph ? paragraph.data.text : ''
    +storyCard(story.id, story.title, content, authorInfo, story.lastModified, story.cover_image)

html
  head
    title Express | Stories
    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/profile.css")
    link(rel="stylesheet", href="/css/normalize.css")
    script(src="/js/header.js")
    script(src="/js/profile.js")
  body 
    include ./includes/header.pug
    div.container
      .profile-div
        .info
          #name #{authorInfo.display_name}
          .bio #{authorInfo.bio}
        .profile-icon
          img.author-avatar(src= authorInfo.avatar_url)
      .optionBar
        div profile
      .card-container
       if publishedStories.length==0
         .emptyMessage #{authorInfo.display_name} author hasn’t been active on Medium yet. Check back later to see their stories, claps, and highlights.
       else
         +stories(publishedStories,authorInfo)
