mixin storyCard(title, content, lastModified, id, path)
  - const targetUrl = path + id;
  div.card(target_url=targetUrl) 
    div.card-content
      div.title= title
      - const [,month,date,year] = new Date(lastModified).toString().split(' ');
      .date
        i= `Last modified on ${month} ${date}, ${year}`
      .story-actions
        a(href=`/editor/${id}`).edit edit

mixin stories(list, path)
  each story in list
    - const paragraph = story.content.find(data=> data.type ==='paragraph')
    - const text = paragraph ? paragraph.data.text.slice(0, 150) + '...' : ''
    +storyCard(story.title,text,story.lastModified, story.storyID, path)

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Express | Stories
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/userStories.css")
    script(src="/js/header.js")
    script(src="/js/userStories.js")
  body 
    include ./includes/header.pug
    div.container
      div.heading
        div.page-title Your Stories
        a#writeBtn(href="/newStory") write a story
      .optionBar
        div#drafts.active Drafts #{draftedStories.length}
        div#published Published #{publishedStories.length}
      #draftsList.card-container
        if draftedStories.length==0
          .emptyMessage You have no drafts
        else
          +stories(draftedStories, '/editor/')
      #publishedList.card-container.hidden
        if publishedStories.length==0
          .emptyMessage You haven’t published any public stories yet.
        else
          +stories(publishedStories, '/blogPage/')
